/* CSS classes arranged alphabetically */

.body_con {
    margin-left: 200px;
}

.form_style input, .form_style label, .form_style {
    font-size: 13px;
}

input, .modal_btn button, .modal_btn button:focus {
    outline: none;
    box-shadow: none;
}

.gray_btn input, .gray_btn input:hover, .gray_btn button, .gray_btn button:hover {
    font-size: 12px;
}

.item_img img {
    width: 80px;
    height: 80px;
    display: flex;
    margin: auto;
}

.record_btn input, .record_btn label {
    font-size: 12px;
}

.table_body {
    font-size: 13px;
}

.table_head {
    font-size: 14px;
    text-align: center;
}