/* CSS classes arranged alphabetically */

.body_con {
    margin-left: 200px;
}

.gray_btn button, .gray_btn button:hover{
    font-size: 11px;
}

.record_btn input, .record_btn label {
    font-size: 12px;
}

.table_body {
    font-size: 13px;
}

.table_head {
    font-size: 14px;
    text-align: center;
}
